* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --home-header-padding: 21%;
}

#body {
  background-color: #DEEEFE;
}